<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Railway Booking Test Suite" verbose="1">
    
    <test name="Railway Booking Test Suite">
    	<parameter name="browser" value="chrome"/>
        <classes>
            <class name="Railway.LoginTest"></class>
            <class name="Railway.RegisterTest"></class>
            <class name="Railway.ResetPasswordTest"></class>
            <class name="Railway.BookTicketTest"></class>
        </classes>
    </test>
</suite>